# VITE_SUPABASE_URL: The url of your Supabase project instance (e.g., https://your-id.supabase.co)
VITE_SUPABASE_URL=

# VITE_SUPABASE_ANON_KEY: The public anonymous API key for your Supabase project instance
VITE_SUPABASE_ANON_KEY=
